@model DRF.Web.Areas.Doctor.Models.AppointmentSearchModel
@using DRF.Common
@using PagedList.Mvc

@{
    ViewBag.Title = "Appointment";
}

<section class="content-header">
    <h1>
        Appointment
        <small>Information</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Appointment History</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Total Appointment : @Model.AppointmentCollection.TotalItemCount</h3>
                    <div class="box-tools pull-right">
                        <a href="@Request.UrlReferrer" class="btn btn-box-tool">
                            <i class="fa fa-arrow-circle-left"></i> Back
                        </a>
                        <div class="btn-group">
                            @using (Html.BeginForm("AppointmentHistory", "Appointment", FormMethod.Get, new { @id = "appointmentHistoryForm" }))
                            {
                                <div class="btn-group">
                                    @Html.DropDownListFor(model => model.AppointmentStatus, new List<SelectListItem>()
                                    {
                                        new SelectListItem() {Value = null, Text = "All"},
                                        new SelectListItem() {Value = ((int) CustomEnum.AppointmentStatus.Requested).ToString(), Text = "Pending"},
                                        new SelectListItem() {Value = ((int) CustomEnum.AppointmentStatus.Approved).ToString(), Text = "Approved"},
                                        new SelectListItem() {Value = ((int) CustomEnum.AppointmentStatus.Rejected).ToString(), Text = "Rejected"},
                                        new SelectListItem() {Value = ((int) CustomEnum.AppointmentStatus.Completed).ToString(), Text = "Completed"},
                                    }, new {@class = "form-control input-sm"})

                                </div>
                                <div class="btn-group">
                                    @Html.DropDownListFor(model => model.LastDays, new List<SelectListItem>()
                                    {
                                        new SelectListItem() {Value = null, Text = "All"},
                                        new SelectListItem() {Value = (1).ToString(), Text = "Last Day"},
                                        new SelectListItem() {Value = (7).ToString(), Text = "Last 7 Days"},
                                        new SelectListItem() {Value = (30).ToString(), Text = "Last Months"},
                                        new SelectListItem() {Value = (365).ToString(), Text = "Last Years"},
                                    }, new {@class = "form-control input-sm"})
                                </div>
                            }
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@Url.Action("PendingAppointment", "Appointment")">Pending Appointment</a></li>
                                <li><a href="@Url.Action("Index", "Profile")">Profile</a></li>
                                <li><a href="@Url.Action("Index", "Schedule")">Schedule</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-sm table-responsive">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Chamber</th>
                                <th>Patient Name</th>
                                <th>Appointment Date</th>
                                <th>Appointment Time</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var sl = ((Model.Page - 1) * Model.PageSize) + 1;
                            }
                            @foreach (var appointment in Model.AppointmentCollection)
                            {
                                <tr>
                                    <td>@(sl++)</td>
                                    <td>@appointment.Chamber.Name</td>
                                    <td>@appointment.Patient.User.Name</td>
                                    <td>@appointment.AppointmentDate.ToString("d")</td>
                                    <td>@appointment.AppointmentTime.ToString("t")</td>
                                    @{
                                        var customColor = CustomColor.BadgeColor((int)appointment.AppointmentStatus);
                                    }
                                    <td><span class="badge @customColor">@((CustomEnum.AppointmentStatus)(appointment.AppointmentStatus))</span></td>
                                    <td><a class="btn btn-xs btn-info fa fa-search-plus" onclick="appointmentDetails( @appointment.Id )"></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @Html.PagedListPager(Model.AppointmentCollection, Page =>
                        Url.Action("AppointmentHistory", "Appointment", new RouteValueDictionary()
                        {
                            { "Page", Page }, { "PageSize", Model.PageSize }, { "AppointmentStatus", Model.AppointmentStatus },
                            { "LastDays", Model.LastDays }
                        }))

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</section>


@*------------Appointment Details-------------------*@
<div class="modal fade" id="details-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Appointment Details</h4>
            </div>
            <div class="modal-body" id="details-modal-content">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



@section scripts{
    <script>
        $(document).ready(function () {
            $('#AppointmentStatus').on('change', function () {
                $('#appointmentHistoryForm').submit();
            });
            $('#LastDays').on('change', function () {
                $('#appointmentHistoryForm').submit();
            });
        });

        function appointmentDetails(id) {
            var url = '@Url.Action("Details", "Appointment")';
            var method = "GET";

            $.ajax({
                url: url,
                type: method,
                data: { id: id },
                success: function (data) {
                    $("#details-modal-content").html(data);
                    $("#details-modal").modal("show");
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.alert(textStatus + " ! please try again", '<i class="fa fa-exclamation-circle" aria-hidden="true"> Alert</i>');
                }
            });
        }
    </script>
}

