<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | DRF</title>

    <!-- Favicons-->
    @*<link rel="shortcut icon" href="~/HomePlugins/img/favicon.ico" type="image/x-icon">*@

    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

    <!-- Theme CSS -->
    <link href="~/HomePlugins/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/HomePlugins/css/style.css" rel="stylesheet">
    <link href="~/HomePlugins/css/menu.css" rel="stylesheet">
    <link href="~/HomePlugins/css/vendors.css" rel="stylesheet">
    <link href="~/HomePlugins/css/icon_fonts/css/all_icons_min.css" rel="stylesheet">

    <link href="~/Content/themes/flick/jquery-ui.flick.min.css" rel="stylesheet" />


    <!--Custom Style-->
    <link href="~/Content/Projects/custom-style.css" rel="stylesheet" />

</head>
<body>

    <div id="preloader" class="Fixed">
        <div data-loader="circle-side"></div>
    </div>
    <!-- /Preload-->

    <div id="page">

        <header class="header_sticky">
            <a href="#menu" class="btn_mobile">
                <div class="hamburger hamburger--spin" id="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            @Html.Partial("_TopNavBar")
        </header>


        <main>

            @RenderBody()

        </main>

        <footer>
            @Html.Partial("_Footer")
        </footer>

    </div>

    <div id="toTop"></div>
    <!-- Back to top button -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Theme Script -->
    <script src="~/HomePlugins/js/common_scripts.min.js"></script>
    <script src="~/HomePlugins/js/functions.js"></script>

    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>
