@using DRF.Common
@using DRF.Entities
@using DRF.Web.Models
@{
    Layout = null;
}

@{
    var routeValues = ViewContext.RouteData.Values;
    var currentAction = routeValues["Action"].ToString();
    var currentController = routeValues["Controller"].ToString();
}



<div class="container">
    <div class="row">
        <div class="col-lg-3 col-6">
            <div id="logo_home">
                <h1><a href="@Url.Action("Index","Home")" title="@CustomName.ProjectName">@CustomName.ProjectShortName</a></h1>
            </div>
        </div>
        <div class="col-lg-9 col-6">
            <ul id="top_access">
                @if (!Request.IsAuthenticated)
                {
                    <li><a href="@Url.Action("Login", "User")" title="Login"><i class="pe-7s-user"></i></a></li>
                    <li><a href="@Url.Action("Registration", "User")" title="Registration"><i class="pe-7s-add-user"></i></a></li>
                }
                else
                {
                    using (Html.BeginForm("Logout", "User", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        <li><a href="javascript:document.getElementById('logoutForm').submit()" title="Logout"><i class="pe-7s-power"></i></a></li>
                    }
                } 
            </ul>
            <nav id="menu" class="main-menu">
                <ul>
                    <li>
                        <span><a href="@Url.Action("Index","Home")">Home</a></span>
                    </li>
                    @*<li>
                        <span><a href="#">Doctor</a></span>
                        <ul>
                            <li><a href="#">Doctor Default</a></li>
                            <li><a href="#">Doctor Version</a></li>
                        </ul>
                    </li>*@
                    <li>
                        <span><a href="@Url.Action("Search","Home")">Search</a></span>
                    </li>
                    @if (Request.IsAuthenticated && User.IsInRole("Patient"))
                    {
                        <li>
                            <span><a href="#">Appointment</a></span>
                            <ul>
                                <li><a href="@Url.Action("RecentAppointment", "Appointment", new { area="" })">Recent</a></li>
                                <li><a href="@Url.Action("AppointmentHistory", "Appointment", new { area="" })">History</a></li>
                            </ul>
                        </li>
                    }
                    <li>
                        <span><a href="#">About</a></span>
                    </li>
                    <li>
                        <span><a href="#">Contact</a></span>
                    </li>
                    @if (Request.IsAuthenticated && User.IsInRole("Patient"))
                    {
                        var authUser = AuthenticatedPatientUserModel.GetUserFromIdentity();
                        <li>
                            <span><a href="@Url.Action("Index", "Profile")">Hi, @authUser.Name</a></span>
                        </li>
                        @*<li>
                            <span>
                                <a href="#" title="Notifications">
                                    <i class="icon-bell"></i><span>5</span>
                                </a>
                            </span>
                        </li>*@
                    }
                    else if (Request.IsAuthenticated && User.IsInRole("Doctor"))
                    {
                        <li>
                            <span><a href="@Url.Action("Index", "Home", new { area="Doctor" })">Doctor Dashboard</a></span>
                        </li>
                    }
                    else if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>
                            <span><a href="@Url.Action("Index", "Home", new { area="Admin" })">Admin Dashboard</a></span>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>
</div>