@using DRF.Web.Models
@model DRF.Web.Models.AppointmentModel

@{
    ViewBag.Title = "Get Appointment";
}

@{
    var userName = "";
    var userEmail = "";
    var userPhone = "";
}

@if (Request.IsAuthenticated)
{
    var authUser = AuthenticatedPatientUserModel.GetUserFromIdentity();
    var authPatientUser = AuthenticatedPatientUserModel.GetPatientUserFromIdentity();
    userName = authUser.Name;
    userEmail = authUser.Email;
    userPhone = authPatientUser.Phone;
}

@using (Html.BeginForm("ConfirmAppointment", "Appointment", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DoctorId)
    @Html.HiddenFor(model => model.ChamberId)
    @Html.HiddenFor(model => model.NewAppointmentDate)
    @Html.HiddenFor(model => model.NewAppointmentTime)
    @Html.HiddenFor(model => model.AppointmentType)
    @Html.HiddenFor(model => model.AppointmentFees)

    <div class="container margin_60">
        <div class="row">
            <div class="col-xl-8 col-lg-8">
                <div class="box_general_3 cart">
                    <div class="form_title">
                        <h3><strong>1</strong>Your Details</h3>
                    </div>
                    <div class="step">
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>Name</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <div class="form-group">
                                    <label>@userName</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>Email</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <div class="form-group">
                                    <label>@userEmail</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>Phone</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <div class="form-group">
                                    <label>@userPhone</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label>Disease</label>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-8">
                                <div class="form-group">
                                    <label>
                                        @Html.TextAreaFor(model => model.Disease, new { @class = "form-control" })
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!--End step -->
                </div>
            </div>
            <!-- /col -->
            <aside class="col-xl-4 col-lg-4" id="sidebar">
                <div class="box_general_3 booking">
                    <div class="title">
                        <h3>Your Booking</h3>
                    </div>
                    <div class="summary">
                        <ul>
                            <li>Date: <strong class="float-right">@Model.NewAppointmentDate.ToString("D")</strong></li>
                            <li>Time: <strong class="float-right">@Model.NewAppointmentTime.ToString("t")</strong></li>
                            <li>Dr. Name: <strong class="float-right">@Model.DoctorName</strong></li>
                            <li>Chamber: <strong class="float-right">@Model.ChamberName</strong></li>
                        </ul>
                    </div>
                    @*<ul class="treatments checkout clearfix">
                        <li class="total">
                            Fees <strong class="float-right">Tk. @Model.AppointmentFees</strong>
                        </li>
                    </ul>*@
                    <hr>
                    <button type="submit" class="btn_1 full-width">Confirm</button>
                </div>
                <!-- /box_general -->
            </aside>
            <!-- /asdide -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
}